@import './color';

.button-container {
  display: flex;
  justify-content: center;

  .button {
    width: 10%;
    height: 70px;
    background-color: $button-color;
    border: 0px;
    border-radius: 10px;
    color: $button-text-color;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    &:hover {
      background-color: $background-color;
      color: $button-color;
      cursor: pointer;
    }
  }
}