@import './color';

.button-container {
  display: flex;
  justify-content: center;

  .button {
    width: 10vw;
    height: 70px;
    background-color: $button-color;
    border: 0px;
    border-radius: 10px;
    color: $button-text-color;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Inconsolata', monospace;
    font-size: 16px;

    &:hover {
      background-color: $background-color;
      color: $button-color;
      cursor: pointer;
    }
  }
  .selected {
    background-color: $background-color;
    color: $button-color;
  }
}

.category-container {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;

  .category-button {
    height: 22px;
    background-color: $button-color;
    border: 0px;
    border-radius: 10px;
    color: $button-text-color;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 16px;
    cursor: pointer;
  }
  .selected {
    background-color: $background-color;
    color: $button-color;
  }
}