@import './color';

.start-screen-back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.wallpaperscraft.ru/image/linii_krasnyy_fon_svetlyy_88568_1920x1080.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    color: $button-text-color;
    font-family: 'Inconsolata', monospace;
    font-size: 80px;
    text-align: center;
  }
  .info {
    color: $button-text-color;
    font-family: 'Inconsolata', monospace;
    font-size: 20pt;
    text-align: center;
    width: 500px;
  }
  button {
    width: 10vw;
    height: 70px;
    background-color: $inactive-border;
    border: 0px;
    border-radius: 10px;
    color: $button-text-color;
    margin: 30px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Inconsolata', monospace;
    font-size: 20px;

    &:hover {
      background-color: $background-color;
      color: $button-color;
      cursor: pointer;
    }
  }
}