@import './color';

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333;
  width: 100%;
  height: 100%;
  padding-top: 100px;

  .mistakes, .correct {
    font-size: 20px;
  }

  .mistakes-container, .correct-container{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $button-color;
    border-radius: 10px;
    .card {
      margin: 5px;
    }
  }
  .statistic-modal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
  }

  .modal-return-button, .modal-new-game-button {
    height: 50px;
    width: 100px;
    background-color: $button-color;
    border: 0px;
    border-radius: 10px;
    color: $button-text-color;
    margin: 5px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    cursor: pointer;
  }
}