@import './Elements/Styles/base';
@import './Elements/Styles/buttons';
@import './Elements/Styles/input';
@import './Elements/Styles/cards';
@import './Elements/Styles/image';
@import './Elements/Styles/startModal';
@import './Elements/Styles/statModal';